@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
}

.hide-scrollbar {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
